#barChart {
	width: 1250px;
	height: 450px;
}

#barChart div {
	border-radius: 30px;
	margin: 5px;
	padding: 7px;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-weight: 100;
}

button {
	margin-top: 10px;
	box-shadow: 1px 1px 1px grey;
	border-radius: 10px;
	background: lightgray;
}

.subject {
	display: inline-block;
	width: 60px;
	padding: 10px;
	/*margin: 5px;*/
	border-radius: 15px;
	text-align: center;
}