table, th ,td {
    padding: 10px;
}

table {
    border: groove;
    width: 100%;
}

td, th {
    text-align: center;
    font-size: large;
}

th {
    background-color: #337ab7;
    color: white;
}

tr:nth-child(even) {background-color: lightgray}